@import url(https://fonts.googleapis.com/css?family=Titillium+Web:700);
* {
  font-family: $googleFont;
}
embed {
  position: absolute;
  top: -100px;
  left: -100px;
}

img {
  margin-right: 5px;
  float: left;
}

.subscriber {
  font-weight: 700;
  height: 40px;
  line-height: 32px;
  font-size: 25px;
  vertical-align: middle;
  text-transform: uppercase;
}
