{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },

  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "spread": true,
    "templateStrings": true,
    "jsx": true
  },

  "globals": {
    "BROWSER": true,
    "FB": true,
    "window": true
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "strict": 0,
    "indent": [2, 2],
    "camelcase": 0,
    "consistent-return": [0],
    "key-spacing": [0],
    "quotes": [2, "single"],
    "new-cap": [0],
    "no-multi-spaces": [0],
    "no-shadow": [0],
    "no-const-assign": [1],
    "no-unused-vars": [0],
    "no-unused-expressions": 1,
    "no-use-before-define": [2, "nofunc"],
    "react/jsx-no-duplicate-props": [1],
    "react/jsx-uses-react": [1],
    "react/no-unknown-property": [1],
  }
}
